extends layout

block content
  h1= Good movies
  p Welcome to #{title}
  form(method='post' action='/')
    label(for='name') Name:
    input(type='text', placeholder='Movie title' name='name')
    button(type='submit') Send
