extends layout

block content
  h1= Good movies
  p Welcome to #{title}
  form#formGiveMovie(name="givemovie",method="post",action="/")
    input#inputUserName(type="text", placeholder="Give movie name", name="username")
    button#btnSubmit(type="submit") submit
