extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/' method='post')
    label(for='elokuvan_nimi') Sy&ouml;t&auml; elokuvan nimi: 
    input#elokuvan_nimi(type='text' name='nimi_kentta' value='Elokuvan nimi')
    input(type='submit' value='OK')
  h2= "Results from MongoDB:"
  ul
    each doc in docs
      li= doc
  //img(alt='One pixel transparent GIF' src='data:image/jpg;base64, docs.kuva ')
