body {
  width: 100%;
  max-width: 70.0rem;
  margin: 2rem auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.flex__container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
}

.flex__item--1 {
  padding: 0 1rem 0 0;
  flex: 1 50%;
}

.flex__item--2 {
  padding: 0 0 0 1rem;
  flex: 1 50%;
}

.bg {
  height: auto;
  left: 0;
  min-height: 100%;
  min-width: 1200px;
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  opacity: 0.90;
  filter: opacity(90%);
  -ms-filter: "progid : DXImageTransform.Microsoft.Alpha(Opacity=90)";
  padding: 2rem 10% 2rem 10%;
}

a {
  color: #00B7FF;
}