body {
    padding: 10px 50px;
    width: 100%;
    max-width: 70.0rem;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.flex__container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
}

.flex__item--1 {
    padding: 0 1rem 0 0;
    flex: 1 50%;
}

.flex__item--2 {
    padding: 0 0 0 1rem;
    flex: 1 50%;
}

a {
    color: #00B7FF;
}